<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>by.tc.elective.controller.Controller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>s</servlet-name>
    <jsp-file>/WEB-INF/jsp/signIn.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/GO_TO_SIGN_IN_PAGE</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>r</servlet-name>
    <jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>r</servlet-name>
    <url-pattern>/GO_TO_REGISTRATION_PAGE</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>by.tc.elective.controller.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <errors>
    <error-page>
      <!-- Missing login -->
      <error-code>401</error-code>
      <location>/general-error.html</location>
    </error-page>
    <error-page>
      <!-- Forbidden directory listing -->
      <error-code>403</error-code>
      <location>/general-error.html</location>
    </error-page>
    <error-page>
      <!-- Missing resource -->
      <error-code>404</error-code>
      <location>/Error404.html</location>
    </error-page>
    <error-page>
      <!-- Uncaught exception -->
      <error-code>500</error-code>
      <location>/general-error.html</location>
    </error-page>
    <error-page>
      <!-- Unsupported servlet method -->
      <error-code>503</error-code>
      <location>/general-error.html</location>
    </error-page>
      <exception>java.exception.RuntimeException</exception>
      <location>/errors.jsp</location>
  </errors>


  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

</web-app>
